.top-page-header {
  width: 100vw;
  height: 10vh;
  background-color: aqua;  /* 削除予定 */
}

.logo-title {
  font-size: 50px;
  text-align: center;
  margin: auto;
}

.logo {
  text-decoration: none;
  color: darkgreen;  /* 仮 */
}