<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap" rel="stylesheet">

<header class='top-page-header'>
  <div class='logo-title'>
    <a href='/' id="js-text" >
      <span>S</span>
      <span>m</span>
      <span>i</span>
      <span>c</span>
      <span>o</span>
    </a>
  </div>
</header>