.detail-top {
  width: 100vw;
  height: 700px;
  display: flex;
  position: relative;
}

/* ポスター */
.detail-poster {
  width: 330px;
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}

.detail-img {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  display: block;
  margin: auto;
}
/* ポスター */

/* 予告映像 */
.detail-video {
  width: 70%;
  height: 80%;
  position: absolute;
  top: 50%;
  right: 40px;
  transform: translateY(-50%);
  background-color: blue;
}

.tentative {
  text-align: center;
  font-size: 40px;
}
/* 予告映像 */

.detail-center {
  width: 100vw;
  height: 100px;
  background-color: aqua;
  position: relative;
}

/* タイトル */
.detail-title {
  font-size: 50px;
  position: absolute;
  left: 10px;
}
/* タイトル */

/* 公開日 */
.detail-date {
  font-size: 20px;
  position: absolute;
  top: 70px;
  right: 10px;
}
/* 公開日 */

.detail-under {
  width: 100vw;
  height: 500px;
  background-color: bisque;
}

/* あらすじ */
.detail-synopsis {
  font-size: 30px;
  padding: 10px 18px;
}

/* あらすじの内容 */
.detail-overview {
  width: 97%;
  height: 80%;
  margin: 0 auto;
  font-size: 28px;
  background-color: aquamarine;
}
/* あらすじの内容 */
/* あらすじ */

/* 各プラットフォームに遷移するボタン */
.movie-btn-contents {
  height: 200px;
  background-color: aliceblue;
}

.btn-contents {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  background-color: beige;
}

.btn-top {
  width: 100%;
  height: 70px;
  position: relative;
}

/* Amazonに遷移するボタン */
.amazon-btn {
  font-size: 25px;
  text-decoration: none;
  background: orange;
  border: 1px solid orange;
  color: black;
  border-radius: 7px;
  padding: 5px;
  position: absolute;
  top: 15px;
  left: 39%;
}
/* Amazonに遷移するボタン */

/* Huluに遷移するボタン */
.hulu-btn {
  font-size: 25px;
  text-decoration: none;
  background: greenyellow;
  border: 1px solid greenyellow;
  color: #fff;
  border-radius: 7px;
  padding: 5px 30px;
  position: absolute;
  top: 15px;
  right: 38%;
}
/* Huluに遷移するボタン */

.btn-under {
  width: 100%;
  height: 70px;
  position: relative;
}

/* Disney+に遷移するボタン */
.disney-btn {
  font-size: 25px;
  text-decoration: none;
  background: rgba(0, 0, 255, 0.625);
  border: 1px solid rgba(0, 0, 255, 0.625);
  color: white;
  border-radius: 7px;
  padding: 5px;
  position: absolute;
  top: 10px;
  left: 39%;
}
/* Disney+に遷移するボタン */

/* U-NEXTに遷移するボタン */
.u-next-btn {
  font-size: 25px;
  text-decoration: none;
  background: black;
  border: 1px solid black;
  color: red;
  border-radius: 7px;
  padding: 5px 10px;
  position: absolute;
  top: 10px;
  right: 38%;
}
/* U-NEXTに遷移するボタン */

/* トップページに戻るボタン */
.back-btn {
  font-size: 25px;
  text-decoration: none;
  background: #aaa;
  border: 1px solid #aaa;
  color: #fff;
  border-radius: 7px;
  position: absolute;
  left: 50%;
  bottom: 15px;
  transform: translateX(-50%);
}
/* トップページに戻るボタン */
/* 各プラットフォームに遷移するボタン */
/* 背景 */

/* 背景 */